.comment-form, .review-form {
  display: flex;
  margin-top: 3px;
}

.comment-submit, .review-submit {
  width: 80%;
}

.field_with_errors {
  display: contents;
}

.comment-submit-btn, .review-submit-btn {
  padding: 0 3px;
  margin-left: 3px;
}