<div class="new-manual-name">【タイトル】
  <span class="need-icon">必須</span>
</div>
<%= f.text_field :title, placeholder: "(例)", autofocus: true, class: "form-manual-name" %>

<div class="new-manual-image">【画像】</div>
<div class="new-image-text">クリックして画像を選択してください</div>
<%= f.file_field :image, class: "form-manual-image", id: "file-field" %>

<canvas class="canvas" width="500px" height="500px" id="canvas"></canvas>

<div class="new-manual-description">【内容】</div>
<%= f.text_area :description, placeholder: "(例)", class: "form-manual-description" %>
