<%= render "shared/header" %>

<div class="main-content">
  <%= link_to new_manual_path, class: "manual-create" do %>
    <div class="main-item">
      マニュアル<br>新規作成
    </div>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to user_path(current_user), class: "mypage" do %>
      <div class="main-item">
        マイページ<br>マニュアル一覧
      </div>
    <% end %>
  <% end %>
</div>

<div class="mypage-contents">
  <% @releases.each do |release| %>
    <%= render partial: "shared/contents", locals: {manual: release.manual} %>
  <% end %>
</div>