<%= render "shared/header" %>

<div class="new-page-title">作成するマニュアルの情報を入力</div>

<div class="form-manual-contents">
  <%= form_with model: @manual, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <%= render 'shared/form', {f: f, title_name: 'マニュアル名', title_count: '20', description_name: 'マニュアル説明', description_count: '160', submit_text: '作成完了'} %>
  <% end %>
</div>