.main-content {
  /* height: calc(100vh - 120px - 80px); */
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #ffebcd;
  margin-bottom: 20px;
}

.manual-create, .mypage {
  width: 350px;
  height: 150px;
  text-decoration: none;
  font-size: 30px;
  margin: 0 10px 0 10px;
  color: #000000;
}

.main-item {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  background-color: #dcdcdc;
}

.release-btn {
  font-size: 15px;
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  background-color: #dcdcdc;
  white-space: nowrap;
  padding: 3px;
}