.new-page-title {
  text-align: center;
  font-size: 25px;
  margin: 10px 0;
}

.new-manual-name, .form-manual-name, 
.new-manual-category, .form-manual-category, 
.new-manual-image, .new-image-text, .form-manual-image, 
.new-manual-description, .form-manual-description
{
  width: 50vw;
}

.new-manual-name, .new-manual-category, 
.new-manual-image, .new-image-text, 
.new-manual-description
{
  margin: 0 auto;
  text-align: start;
}

.form-manual-name, .form-manual-category, 
.form-manual-image, .form-manual-description
{
  margin-bottom: 10px;
}

.form-manual-contents {
  text-align: center;
}

.form-manual-name {
  height: 40px;
}

.form-manual-category {
  height: 30px;
  width: 150px;
}

.form-manual-description {
  resize: none;
  height: 200px;
}

.new-submit-btn {
  font-size: 20px;
  padding: 10px;
}