.new-page-title {
  text-align: center;
  font-size: 25px;
  margin: 10px 0;
}

.form-manual-contents {
  text-align: center;
}

.need-icon {
  background-color: red;
  color: white;
  font-size: 15px;
  padding: 2px 3px;
  white-space: nowrap;
}

.new-manual-name, .form-manual-name, 
.new-manual-category, .form-manual-category, 
.new-manual-image, .new-image-text, .form-manual-image, 
.new-manual-description, .form-manual-description
{
  width: 50vw;
}

.new-manual-name, .new-manual-category, 
.new-manual-image, .new-image-text, 
.new-manual-description
{
  margin: 0 auto;
  text-align: start;
}

.form-manual-name, .form-manual-category, 
.form-manual-image, .form-manual-description
{
  margin-bottom: 10px;
}

.form-manual-name {
  height: 40px;
}

.form-manual-category {
  height: 30px;
  width: 150px;
}

.form-manual-description {
  resize: none;
  height: 200px;
}

.new-submit-btn {
  font-size: 20px;
  padding: 5px 10px;
}

.canvas {
  border: 1px solid #000000;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.image-contents {
  margin: 0 auto;
  display: flex;
  width: 480px;
  margin-bottom: 10px;
}

.image-save {
  background-color: #f5f5f5;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 3px;
  font-size: 20px;
}

.paint-status {
  margin: 0 0 0 auto;
}

.color a {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.black {
  background-color: #000000;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}