.procedure-top {
  display: flex;
  justify-content: space-between;
}

.procedure-top-title {
  font-size: 30px;
}

.procedure-top-middle {
  width: 180px;
  margin: 0 5px 0 auto;
}

.procedure-top-category {
  white-space: nowrap;
  font-size: 15px;
}

.procedure-top-contents {
  height: 330px;
  align-items: center;
  display: flex;
  padding: 0 20px;
  margin: 0 10px 10px 10px;
  background-color: skyblue;
}

.procedure-top-image {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  background-color: white;
  overflow: scroll;
}
@media (min-width: 680px) {
  .procedure-top-image {
    overflow: visible;
  }
}

.procedure-top-item {
  width: 300px;
  word-wrap: break-word;
  margin-left: 20px;
}

.procedure-top-description {
  border: 1px solid #000000;
  height: 270px;
  width: 300px;
  overflow: scroll;
  margin-top: 5px;
  background-color: white;
  white-space: pre-line;
}
@media (max-width: 680px) {
  .procedure-top-item {
    width: 40vw;
  }
  .procedure-top-description {
    width: 40vw;
  }
}

.procedure-contents {
  height: 330px;
  align-items: center;
  display: flex;
  margin: 0 10px 10px 10px;
  padding: 0 10px;
  background-color: pink;
}

.procedure-item {
  width: 330px;
  margin-right: 20px;
}

.procedure-item-header {
  display: flex;
  justify-content: space-between;
}

.procedure-title {
  width: 250px;
  margin: 0 auto 0 0;
}

.procedure-item-header ul {
  white-space: nowrap;
}

.procedure-description {
  height: 245px;
  width: 310px;
  overflow: scroll;
  margin-top: 5px;
  border: 1px solid #000000;
  background-color: white;
  white-space: pre-line;
}

.procedure-create {
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  background-color: #dcdcdc;
  white-space: nowrap;
  padding: 3px;
}