.procedure-top {
  display: flex;
  justify-content: space-between;
}

.procedure-top-title {
  /* 全角20文字以下 */
  font-size: 30px;
}

.procedure-top-middle {
  width: 200px;
  margin: 0 5px 0 auto;
}

.procedure-top-category {
  white-space: nowrap;
  font-size: 15px;
}

.procedure-top-right {
  font-size: 18px;
  white-space: nowrap;
  margin-right: 5px;
}

.procedure-top-contents {
  height: 260px;
  align-items: center;
  display: flex;
  padding: 0 20px;
  margin: 0 10px 10px 10px;
  background-color: skyblue;
}

.procedure-top-image {
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
  background-color: white;
  overflow: scroll;
}
@media (min-width: 680px) {
  .procedure-top-image {
    overflow: visible;
  }
}

.procedure-top-item {
  width: 300px;
  word-wrap: break-word;
  margin-left: 20px;
}

.procedure-top-description {
  /* 全角160文字以下 */
  border: 1px solid #000000;
  height: 200px;
  overflow: scroll;
  margin-top: 5px;
  background-color: white;
  white-space: pre-line;
}

.procedure-contents {
  height: 260px;
  align-items: center;
  display: flex;
  margin: 0 10px 10px 10px;
  padding: 0 10px;
  background-color: pink;
}

.procedure-item {
  width: 330px;
  margin-right: 20px;
}

.procedure-item-header {
  display: flex;
  justify-content: space-between;
}

.procedure-title {
  /* 全角30文字以下 */
  width: 250px;
  margin: 0 auto 0 0;
}

.procedure-item-header ul {
  white-space: nowrap;
}

.procedure-description {
  /* 全角133文字以下(スクロールなしの表示、バリデーション：400文字以下) */
  height: 175px;
  overflow: scroll;
  margin-top: 5px;
  border: 1px solid #000000;
  background-color: white;
  white-space: pre-line;
}

.procedure-comment-contents {
  margin: 10px 0 0 20px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
@media (max-width: 680px){
  .procedure-comment-contents {
    display: none;
  }
}

.procedure-comments-index {
  width: 700px;
  height: 220px;
  background-color: white;
  overflow: scroll;
  padding: 5px;
}

.procedure-comment {
  margin-bottom: 5px;
  background-color: #e6e6fa;
  border-radius: 10px;
  padding: 0 5px;
}

.pro-comment-header {
  border-bottom: 1px solid #000000;
}

.comment-time {
  margin-left: 20px;
  font-size: 12px;
}

.pro-comment-text {
  word-wrap: break-word;
}

.pro-comment-form {
  display: flex;
  margin-top: 3px;
}

.comment-submit {
  width: 80%;
}

.field_with_errors {
  display: contents;
}

.comment-submit-btn {
  padding: 0 3px;
  margin-left: 3px;
}

.procedure-create {
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  background-color: #dcdcdc;
  white-space: nowrap;
  padding: 3px;
}