.mypage-user-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.mypage-user-nickname {
  font-size: 30px;
  margin-left: 10px;
}

.mypage-manual-new {
  border: 1px solid #000000;
  text-decoration: none;
  background-color: #dcdcdc;
  font-size: 15px;
  padding: 5px;
  margin-right: 30px;
  color: #000000;
}

.mypage-contents {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mypage-item {
  width: 350px;
  height: 455px;
  background-color: skyblue;
  margin-bottom: 10px;
}

.mypage-item-header {
  display: flex;
  justify-content: space-between;
}

.mypage-title {
  height: 60px;
  width: 200px;
  font-size: 20px;
  word-wrap: break-word;
  text-decoration: none;
  margin: 5px 0 0 5px;
  color: #000000;
}

.mypage-item-header span {
  font-size: 12px;
  margin: 0 5px 0 auto;
  width: 90px;
}

.mypage-item-header li {
  font-size: 15px;
  margin-right: 5px;
}

.mypage-image-content {
  width: 300px;
  height: 250px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.mypage-description {
  border: 1px solid #000000;
  background-color: white;
  margin: 0 auto;
  padding: 0 5px;
  width: 330px;
  height: 100px;
  word-wrap: break-word;
  overflow: scroll;
  white-space: pre-line;
}